html {
    scroll-behavior: smooth;
  }

/* BOOTSTRAP CHANGES */
.row{
    margin:0;
}
.col-12, .col-4{
    margin:0;
    padding:0;
}
.container{
    max-width:1440px;
    padding:0;
    margin:0;
}
p{
    margin:0;
}

/* BODY */
body{
    background-color:#222831;
    color:#ececec;
    font-family: "Inconsolata";
}

/* TITLES */
#top-bar{
    background-color:#30475e;
    padding:10px;
}
h1{
    text-align:center;
    font-size:1.4rem;
    text-transform:uppercase;
    align-self:center;
    margin:10px 0;
    width:100%;

}
h2{
    width:100%;
    text-align:center;
    font-size:1.3rem;
    text-transform:uppercase;
}
h3{
    margin-bottom:5px;
    font-size:1.3rem;
    padding-left:25px;
}
h4{
    font-size:1rem;


}

/* MAIN LAYOUT  */
#apropos, .accordeon, #examples, footer{
    margin-top:20px;
    padding-left:5vw;
    padding-right:5vw;
}




/* !!!!!!!!! NAV!!!!!!!!!!!! */
#menu {
    background-color: #181c22;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:1.1rem;
}

#menu li:last-child {
    margin-right: none;
}

#menu a {
    display: block;
    font-weight: 700;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    color: rgb(255,255,255);
    padding:7px;
    text-align:center;
}

#menu a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#menu li:last-child a {
    border-right: none;
}

.fixed{
    position: fixed;
    top:0;
    right:0;
    left:0;
}



/* CAROUSEL */
.carousel-indicators li{
    background-color:#c1a57b;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c1a57b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }  
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c1a57b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*A PROPOS - ABOUT*/
#apropos{
    text-align:center;
}
#apropos p{
    font-size:1rem;
}

#about img{
    padding-top:10px;
}

/* ACCORDEON */
.accordeon{
    width:100%;
}
.accordeon > h3{
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    font-weight: normal;
    cursor: pointer;
    transition: all .5s ease;
}
.accordeon > h3.actif .fa-caret-right{
    transform: rotate(90deg);
    transition: all .5s ease;
}

.accordeon p{
    line-height: 150%;
}

.accordeon > h3:hover, .accordeon > h3.actif{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

.accordeon > div{
    padding: 10px 25px;
}

.accordeon > h3 > div{
    display:block;
}

/* !!!!!!!EXAMPLES!!!!!!!!! */
#examples p{
    font-size:0.8rem;
    padding-bottom:5px;
}

/* TABLE BOOTSTRAP */
#table{
    width:100%;
}

.table{
    background-color: #30475e;
}

thead{
    background-color:#181c22;   
}
.table-dark td, .table-dark th, .table-dark thead th{
    border-color:#e4e4e4 !important;
}
.table-dark thead th{
    border-top:0;
}

/* FANBYBOX */
#fancy{
    width:100%;
}
.fancy{
    display:flex;
    flex-direction:column;
}
.fancy a{
    align-self:center;
    padding-bottom:10px;
}

/* SLICK */
.slick{
    width:100%;
}

.slick-prev{
    left:5px;
    z-index:1
}

.slick-next{
    right:5px;
}

.slick-prev::before{
    color:#c1a57b;
}

.slick-next::before{
    color:#c1a57b;
}

.slick-dots li.slick-active button::before{
    color:#c1a57b;
}

.slick-dots li button::before{
    color:#c1a57b;
}



/* !!!!!!!!!! FOOTER !!!!!!!!!!*/
footer{
    justify-content:center;
}
/* CARTES */
.card-body{
    background-color:#30475e;
}
.card{
    background-color:#181c22;
    padding:0;
}
.card-text{
    display:none;
}
.card-title{
    text-align:center;
}
.card-img-top{
    padding:10px;
}
.btn{
    background-color:#c1a57b;
    border-color: #c1a57b;
}
.btn:hover{
    background-color:#181c22;
    border-color: #181c22;
}
#credits{
    text-align:center;
    padding : 10px 0;
    background-color:#181c22;
}

/* ************
TABLET VIEW 
*************/
@media screen and (min-width:700px){
    h1{
        font-size:2rem;
    }
    
    h2{
        text-transform:uppercase;
        font-size:1.8rem;
    }
    #menu a {
        padding: 5px !important;
        text-align:center;
        font-size:1.2rem;
    }
    #about img {
        padding-top: 20px;
    }
    #apropos {
        text-align: left;
        border-top: solid white 0.5px;
        padding-top:10px;
    }
    .accordeon h3:nth-of-type(1){
        width:90%;
        margin-bottom:20px;
    }
    .accordeon h3:nth-of-type(2){
        width:60%; 
        margin-bottom:20px;     
    }
    .accordeon h3:nth-of-type(3){
        width:30%;    
    }
    .accordeon > h3.actif{
        margin:0;
    }
    #examples{
        border-top: solid white 0.5px;
        padding-top:10px;
    }
    #examples p{
        padding-left:15%;
    }
    .table > thead{
        font-size:1.3rem;
    }
    .fancy{
        flex-direction:row;
        justify-content: center;
    }
    .fancy img{
        padding:10px;
        width:90%;
    }
    .fancy a{
        box-sizing: border-box;
        text-align: center;
    }
    .slick-slide, .slick-prev{
        padding-left:10px;
    }
    .card-body{
        display:flex;
        flex-direction:column;
    }
    .card-img-top{
        display:block;
        padding:10%;
    }
    footer .btn{
        width:50%;
        align-self:center;
    }
}

/* ************
DESKTOP VIEW
*************/
@media (min-width: 992px) {
    h1{
        font-size:2.5rem;
    }
    
    h2{
        font-size:2.3rem;
    }
    .carousel-control-prev{
        font-size:5rem !important;
    }
    #accueil{
        height:100vh;
    }
    #vueDesk{
        display:flex;
    }
    #vueDesk img{
        width:80%;
    }
    #vueDesk >div{
        margin-top:10px;
        border-top: solid white 0.5px;
    }

    #apropos, .accordeon, #examples, footer {
        padding-left:10vw;
        padding-right:10vw;
    }

    #about > div{
        position:relative;
    }

    #apropos{
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .accordeon h3:nth-of-type(1){
        width:100%;
    }
    .accordeon h3:nth-of-type(2){
        width:70%; 
    }
    .accordeon h3:nth-of-type(3){
        width:35%;    
    }
    #table{
        padding-left:15vw;
        padding-right:15vw;
    }
    .table{
        text-align:center;
    }
    .card-text{
        display:initial;
    }
    .card-title{
        margin-bottom:5px;
    }
    .card-text{
        margin-bottom:5px;
    }
}
    /* ************
WIDE DESKTOP VIEW
*************/
    














